{% extends 'covidskills/base-covidskills.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load project_tags %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>



<h1>
    Field of study: {{ studyfield.fieldname }} 
</h1>
<p class="text-muted">{{ studyfield.fielddefinition }}</p>


{% if request.user|has_group:"record_viewing_privileges" %}
<a type="button" class="btn btn-primary" href="{% url 'covidskills:field-update' studyfield.pk %}">Update field details</a>
{% endif %}

</br></br>
<h3>People trained in this field:</h3>

{% with studyfield.recordsheet_set.all as record_list %}
    {% include "covidskills/table_records.html" %}
{% endwith %}

<div class="card my-3">
    
{% if request.user|has_group:"record_viewing_privileges" %}
        <h2 class="card-header bg-warning">
        All {{ studyfield.recordsheet_set.count }} people trained in this field
        </h2>
        <div class="card-body">
        {% with studyfield.recordsheet_set.all as record_list %}
            {% include "covidskills/table_records.html" %}
        {% endwith %}
{% elif request.user in supervisors %}
        <h2 class="card-header bg-warning">My staff  trained in this field</h2>
        <div class="card-body">
        {% with studyfield.recordsheet_set.all as record_list %}
            {% include "covidskills/table_records.html" %}
        {% endwith %}
        <h2>All {{ studyfield.recordsheet_set.count }} people trained in this field</h2>
        {% with studyfield.recordsheet_set.all as record_list %}
            {% include "covidskills/table_records_min.html" %}
        {% endwith %}
{% else %}
        <h2 class="card-header bg-warning">
        All {{ studyfield.recordsheet_set.count }} people trained in this field
        </h2>
        <div class="card-body">
        {% with studyfield.recordsheet_set.all as record_list %}
            {% include "covidskills/table_records_min.html" %}
        {% endwith %}
{% endif %}
</div>
</div>


{% endblock %}

