{% extends 'covidskills/base-covidskills.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load project_tags %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>



<h1>
    Division: {{ division.divisionname }} 
</h1>
<p class="text-muted">{{ division.divisiondefinition }}</p>


{% if request.user|has_group:"record_viewing_privileges" %}
<a type="button" class="btn btn-primary" href="{% url 'covidskills:division-update' division.pk %}">Update division details</a>
{% endif %}

</br></br>
<h3>People in this division</h3>

{% with division.recordsheet_set.all as record_list %}
    {% include "covidskills/table_records.html" %}
{% endwith %}




</br></br>



{% endblock %}

