{% extends 'covidskills/base-covidskills.html' %}

{# Load the tag library #}
{% load bootstrap4 %}
{% load project_tags %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>



<h1>
    Skill: {{ skill.skillname }} 
</h1>
<p class="text-muted">{{ skill.skilldefinition }}</p>


{% if request.user|has_group:"record_viewing_privileges" %}
<a type="button" class="btn btn-primary" href="{% url 'covidskills:skill-update' skill.pk %}">Update skill details</a>
{% endif %}

</br></br>

<div class="card my-3">
    
{% if request.user|has_group:"record_viewing_privileges" %}
        <h2 class="card-header bg-warning">
        All {{ skill.strskills.count }} employees strong in this skill
        </h2>
        <div class="card-body">
        {% with skill.strskills.all as record_list %}
            {% include "covidskills/table_records.html" %}
        {% endwith %}
{% elif request.user in supervisors %}
        <h2 class="card-header bg-warning">My staff strong in this skill</h2>
        <div class="card-body">
        {% with skill.strskills.all as record_list %}
            {% include "covidskills/table_records.html" %}
        {% endwith %}
        <h2>All {{ skill.strskills.count }} employees strong in this skill</h2>
        {% with skill.strskills.all as record_list %}
            {% include "covidskills/table_records_min.html" %}
        {% endwith %}
{% else %}
        <h2 class="card-header bg-warning">
        All {{ skill.strskills.count }} employees strong in this skill
        </h2>
        <div class="card-body">
        {% with skill.strskills.all as record_list %}
            {% include "covidskills/table_records_min.html" %}
        {% endwith %}
{% endif %}
</div>
</div>


<div class="card my-3">
    
{% if request.user|has_group:"record_viewing_privileges" %}
        <h2 class="card-header bg-warning">
        All {{ skill.regskills.count }} employees with this skill
        </h2>
        <div class="card-body">
        {% with skill.regskills.all as record_list %}
            {% include "covidskills/table_records.html" %}
        {% endwith %}
{% elif request.user in supervisors %}
        <h2 class="card-header bg-warning">My staff with this skill</h2>
        <div class="card-body">
        {% with skill.regskills.all as record_list %}
            {% include "covidskills/table_records.html" %}
        {% endwith %}
        <h2>All {{ skill.regskills.count }} employees with this skill</h2>
        {% with skill.regskills.all as record_list %}
            {% include "covidskills/table_records_min.html" %}
        {% endwith %}
{% else %}
        <h2 class="card-header bg-warning">
        All {{ skill.regskills.count }} employees with this skill
        </h2>
        <div class="card-body">
        {% with skill.regskills.all as record_list %}
            {% include "covidskills/table_records_min.html" %}
        {% endwith %}
{% endif %}
</div>
</div>

</br></br>



{% endblock %}

