{% extends 'covidskills/base-covidskills.html' %}
{% load project_tags %}


{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>
<div class="card bg-dark py-3 px-3 my-2">
{% if own_record|length == 0 %}
<a type="button" class="btn btn-danger" href="{% url 'covidskills:record-add' %}">Create my skill record</a>
{% else %}
    {% for record in own_record %}
    <a type="button" class="btn btn-danger my-2" href="{% url 'covidskills:record-update' record.pk %}">Update my skill record</a>
    <a type="button" class="btn btn-warning my-2" href="{% url 'covidskills:record-view' record.pk %}">View my skill record</a>
    {% endfor %}
{% endif %}
</div>

<div class="d-flex justify-content-around">
    <a type="button" 
    class="btn btn-primary" 
    href="{% url 'covidskills:skills' %}">View {{ skill_count }} skillsets</a>

    <a type="button" 
    class="btn btn-primary" 
    href="{% url 'covidskills:fields' %}">View {{ field_count }} fields of study</a>

    <a type="button" 
    class="btn btn-primary" 
    href="{% url 'covidskills:records' %}">View {{ record_count }} employee skill records</a>

    <a type="button" 
    class="btn btn-primary" 
    href="{% url 'covidskills:projects' %}">View {{ project_count }} projects</a>

    {% if request.user|has_group:"record_viewing_privileges" %}
    <a type="button" 
    class="btn btn-primary" 
    href="{% url 'covidskills:tags' %}">View {{tag_count }} tags</a>
    {% endif %}
</div>
</br>
</br>
{{ uservals }}
<div class="container">
{% for project in project_list %}
    
     <div class="card">
      <div class="card-header">
        <a href="{% url 'covidskills:project-view' project.pk %}">
            <h4>{{ project.projectname }} ({{ project.pi }})</h4>
        </a>
      </div>
      <div class="card-body">
            <h5>{{ project.recordsheet_set.count }} people assigned</h5>
            <p> {{ project.projectdefinition|linebreaks }}</p>
        
            <h5>Skills required:</h5>
            {% with project.skillsrequired.all as skill_list %}
                {% include "covidskills/table_skills.html" %}
            {% endwith %}
       
      </div>
     </div>
{% endfor %}  
</div>

{% endblock %}