{% extends 'covidskills/base-covidskills.html' %}

{% load project_tags %}

{% block content %}

{% if request.user|has_group:"record_viewing_privileges" %}
        <h2>All {{ record_list|length }} employee skill records</h2>
        {% include "covidskills/table_records.html" %}
{% elif is_supervisor  %}
        <h2>Skill records for my staff</h2>
        {% with staff_records as record_list %}
            {% include "covidskills/table_records.html" %}
        {% endwith %}
        
        
{% endif %}



<a type="button" class="btn btn-primary" href="{% url 'covidskills:record-add' %}">Add new record</a>


{% endblock content %}