{% load project_tags %}

<table class="table table-striped table-hover" id="SkillTable">
<thead class="thead-secondary">
    <tr>
        <th>Name</th>
        <th>CWID</th>
        <th>Supervisor</th>
        <th>Skills listed</th>
        <th>Strong skills listed</th>
        <th>Projects assigned to</th>
    </tr>
</thead>

{% for r in record_list %}
        <tr>
        <td><a href="{% url 'covidskills:record-view' r.pk %}">{{ r.recordname }}</a></td>
        <td> {{ r.cwid }}</td>
        <td> {{ r.supervisor }}</td>
        <td> {{ r.skillsets.count }}</td>
        <td> {{ r.strongskills.count }}</td>
        <td> {{ r.assignedprojects.count }}</td>
        </tr>
{% endfor %}
</table>
