
<table class="table table-striped table-hover" id="SkillTable">
<thead class="thead-secondary">
    <tr>
        <th>Name</th>
        <th>PI</th>
        <th>Skills required</th>
        <th>People assigned</th>
    </tr>
</thead>

{% for p in project_list %}
    <tr>
    <td><a href="{% url 'covidskills:project-view' p.pk %}">{{ p.projectname }}</a></td>
    <td> {{ p.pi }}</td>
    <td> {{ p.skillsrequired.all.count }}</td>
    <td> {{ p.recordsheet_set.count }}</td>
    </tr>
{% endfor %}
</table>
