{% load project_tags %}

<table class="table table-striped table-hover" id="SkillTable">
<thead class="thead-secondary">
    <tr>
        <th>Name</th>
        <th>CWID</th>
        <th>Days remote</th>
        <th>Days deferrable</th>
        <th>Max deferrable time (weeks)</th>
        <th>Projects assigned to</th>
        <th>Update</th>
    </tr>
</thead>

{% for r in record_list %}
    {% if request.user|has_group:"record_viewing_privileges" or r.supervisor == request.user or view_privileges == "full" %}
        <tr>
        <td><a href="{% url 'covidskills:record-view' r.pk %}">{{ r.recordname }}</a></td>
        <td> {{ r.cwid }}</td>
        <td> {{ r.remotetime }}</td>
        <td> {{ r.deferdays }}</td>
        <td> {{ r.deferlimit }}</td>
        <td> {{ r.assignedprojects.count }}</td>
        <td>
            <a  type="button" 
                class="btn btn-primary" 
                href="{% url 'covidskills:record-superupdate' r.pk %}">
                Update</a>
        </td>
        </tr>
    {% endif %}
{% endfor %}
</table>
